.flex-container{
    display: flex;
    margin: 10px 0;
}

.flex-container div{
    background: peachpuff;
    border: 4px solid brown;
    height: 100px;
    flex: 1 1 0%;
}

.flex-container .two{
    flex: 2 1 0%;
}

.flex-container-two {
    display: flex;
}
  
.flex-container-two div {
    background: peachpuff;
    border: 4px solid brown;
    height: 100px;
    width: 250px;
    flex: 1 1 auto;
}
  
.flex-container-two .two {
    flex-shrink: 0;
}